textarea {
  resize: none;
}

.editor-container {
  height: calc(100vh - 117px - 300px);
}

.content {
  position: relative;
  height: 100%;
}

.editor-text {
  position: absolute;
  color: #000000ff;
  background-color: #ffffff00;
  opacity: 0.6;
}

.colored-editor {
  padding: 2px;
  height: 90%;
  width: 100%;
  overflow: auto;
}

.hl7texteditor {
  width: 100%;
  border: 1px solid #168af9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 100%;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 30px;
  padding: 5px 10px 5px 10px;
}

.panel-info {
  background-color: #d9edf7;
  border-radius: 0.25rem 0.25rem 0 0;
}

.card-body {
  border-radius: 0 0 0.25rem 0.25rem;
}

.panel .panel-info a {
  text-decoration: none;
}

.panel .panel-info a:hover {
  text-decoration: underline;
}

.alert-success {
  z-index: 1111111 !important;
}

.fhir-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: auto;
  max-width: 80vw;
  max-height: 80vh;
  min-width: 50vw;
  min-height: 70vh;
  border: 2px solid #202020;
  overflow: auto;
  // width: calc(100vw - 20px);
  // height: calc(100vh - 180px);

  .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .closeicon {
    position: sticky;
    float: right;
  }
}

.toggle-view {
  display: block;
}

.wrap-button {
  position: absolute;
  bottom: 15px;
  right: 15px;

  /* Switch Button */
  .switch-btn span {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 20px;
    height: 11px;
    border-radius: 8px;
    background-color: #ddd;
    transition: 0.3s;
    padding: 0 3px;
    position: relative;
  }

  .switch-btn span::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 1px;
    transition: 0.6s;
  }

  .switch-btn input {
    display: none;
  }

  .switch-btn input:checked ~ span {
    background-color: #02bcf0;
  }

  .switch-btn input:checked ~ span::before {
    left: 11px;
  }
}

@media only screen and (max-width: 960px) {
  .editor-container {
    height: 250px;
  }

  .hl7texteditor {
    width: 100%;
    border: 1px solid #168af9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 100%;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 20px;
  }

  .toggle-view {
    display: none !important;
  }
}

.text_nowrap {
  white-space: nowrap;
}

.text_nowrap span {
  text-wrap: nowrap !important;
}
