<div class="content">
    <rsz-layout class="row" [directions]="['bottom']" [rFlex]="true">
      <rsz-layout class="cell one" [directions]="['bottom']" [rFlex]="false">
        <div style="" class="table-responsive p-3">
             <label class="d-flex align-items-center" for="">Filter: <input type="text" class="mx-2 w-50 form-control"></label>
            <table class="table table-border mx-2 animated-flip">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Opt</th>
                        <th>RP#</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items; let i = index" (click)="ReadValues(item)">
                        <td [style.padding-left]="item.index*40+'px'">
                            <span (click)="expanded(item)" *ngIf="item.icon && !item.expanded"
                                class="fa fa-chevron-right toggle-icon"></span>
                            <span (click)="expanded(item)" *ngIf="item.icon && item.expanded"
                                class="fa fa-chevron-down toggle-icon"></span>
                            {{item.value}}
                            <span *ngIf="item.label" id="hl7length1" class="label label-info">Encapsulated Data</span>
                        </td>
                        <td>{{item.opt}}</td>
                        <td><span class="fa fa-{{item.rp}}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="Repeatable Field"></span></td>
                        <td>{{item.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </rsz-layout>
     
    </rsz-layout>
    <rsz-layout class="row" [directions]="['none']" [rFlex]="false">
      <rsz-layout class="cell three" [directions]="['none']" [rFlex]="false">
        <div class="p-3">
            <div class="row">
                <div class="col-md-6"><div class="panel mb-2">
                    <div class="panel-info border p-2 border-bottom-0">
                        <a class="" data-bs-toggle="collapse" href="#fileSelected" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            {{pane1}}
                        </a>
                    </div>
                    <div class="collapse show" id="fileSelected">
                        <div class="card card-body p-2 border-top-0">
                            Some text 
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-6">
                    <div class="panel mb-2">
                        <div class="panel-info border p-2 border-bottom-0">
                            <a class="" data-bs-toggle="collapse" href="#messageHeader" role="button" aria-expanded="false"
                                aria-controls="collapseExample">
                                {{messageHeaderPane}}
                            </a>
                        </div>
                        <div class="collapse show" id="messageHeader">
                            <div class="card card-body p-2 border-top-0">
                                <p>
                                    {{message}}
                                </p>
                                <!-- <p>
                            Chapter: 2.15.9 
                        </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel mb-5">
                <div class="panel-info border p-2 border-bottom-0">
                    <a class="collapse show" data-bs-toggle="collapse" href="#valuePresenter" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Value Presenter
                    </a>
                </div>
                <div class="collapse show" id="valuePresenter">
                    <div class="card card-body p-2 border-top-0">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="displayAs" class="" data-i18n="display-as">Display As &nbsp;</label>
                                <select class="form-control" id="displayAs" (change)="test($event)">
                                    <option [value]="options.value"
                                        *ngFor="let options of ValuePresenterDisplayOptions">{{options.name}}</option>
                                </select>
                                <button type="button" class="btn btn-default mx-2">Copy To Clipboard</button>
                                <!-- <button type="button" class="btn btn-default">Download</button> -->
                                <a class="btn btn-default" [href]="fileUrl" download="file.txt">Download</a>
                            </div>
                        </form>
                        <div><code class="badge bg-danger break-all">{{badgeData}}</code></div>
                        <div *ngIf="base_64_pdf" class="mt-2"><code
                                class="badge bg-danger break-all">Unable to decode PDF : InvalidPDFException: Invalid PDF structure</code>
                        </div>
                        <div *ngIf="base64_xml" class="mt-2">
                            <pre><code class="xml hljs"></code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </rsz-layout>
      
    </rsz-layout>
  </div>