.yeti.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: #333333 !important;
	color: #fff;
}
.yeti {
	.navbar-brand {
		color: #fff !important;
	}
	.dropdown-menu.show {
		background: #3a3f44 !important;
		color: #fff !important;
	}
	.dropdown-item {
		color: #fff !important;
		&:hover {
			color: #fff !important;
			background-color: #272b30 !important;
		}
	}
	.footer-text {
		color: #fff !important;
		a {
			color: #fff !important;
		}
	}
	.btn-primary {
		color: #fff;
		background-color: #008cba !important;
		border-color: #008cba !important;
	}
	.btn.btn-default {
		background-color: #e7e7e7 !important;
		color: #333333 !important;
		border-color: #cccccc !important;
	}
	h1 {
		color: #222222 !important;
	}
	h2 {
		color: #222222 !important;
	}
	h3 {
		color: #222222 !important;
	}
	h4 {
		color: #222222 !important;
	}
	h5 {
		color: #222222 !important;
	}
	h6 {
		color: #222222 !important;
	}
	.nav-tabs {
		.nav-link {
			color: #222222 !important;
			background-color: #e7e7e7 !important;
			&:hover {
				border-color: #eeeeee !important;
				background-color: #eeeeee !important;
			}
		}
		.nav-link.active {
			color: #6f6f6f !important;
			background-color: #fff !important;
		}
	}
	.page-item.active {
		.page-link {
			color: #fff;
			background-color: #6f6f6f !important;
			border-color: #6f6f6f !important;
		}
	}
	.label-info {
		background-color: #5bc0de !important;
	}
	.panel-info {
		background-color: #5bc0de !important;
		a {
			color: #fff !important;
		}
	}
	.card {
		border-radius: 0 0 .25rem .25rem !important;
		border-color: #5bc0de !important;
	}
	p {
		color: #888888 !important;
	}
	label {
		color: #888888 !important;
	}
	.fa-times {
		color: #d8d8d8 !important;
	}
	.openbtn {
		background-color: #fff;
		color: #000;
		border: 1px solid #fff !important;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.50) !important;
	}
	.menus {
		a {
			background-color: #fff !important;
			color: #000;
		}
	}
	.list-group-item {
		&:hover {
			cursor: pointer;
			background-color: #f5f5f5 !important;
			border-color: #f5f5f5 !important;
			color: #008cba !important;
		}
	}
	.list-group-item.active {
		cursor: pointer;
		background-color: #008cba !important;
		border-color: #008cba !important;
	}
	.resizable {
		.resizers {
			.resizer {
				border: 3px solid #008cba;
			}
		}
	}
	.resize-panels {
		.resize-panel {
			.re-panel {
				border: 3px solid #008cba !important;
			}
		}
	}
}
.yeti.navbar-light {
	.navbar-nav {
		.nav-link {
			color: #fff !important;
			&:hover {
				background-color: #121416 !important;
			}
		}
	}
}
.yeti.footer {
	background-color: #333333 !important;
}
.yeti.sidebar {
	background-color: #fff !important;
}

.yeti .wrapper .icon {
	background-color: #5bc0de;
	color: #fff;
  }
  .yeti .wrapper .facebook:hover,
  .yeti .wrapper .facebook:hover .tooltip,
  .yeti .wrapper .facebook:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.yeti .tabs .slider .indicator {background: #5bc0de;}
.yeti .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label { color: #5bc0de !important;}
.yeti .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label { color: #5bc0de !important;}
.yeti .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label { color: #5bc0de !important;}
.yeti .label-info.info-badge{font-size: 15px !important;}
