
.cyborg-body {background-color: #060606 !important;}
.cyborg.navbar.navbar-expand-lg.navbar-light.bg-light { background-color: #060606 !important; color: #fff;}
.cyborg .navbar-brand{color: #fff !important;}
.cyborg.navbar-light .navbar-nav .nav-link { color:#fff !important; }
.cyborg .dropdown-menu.show {background:#222 !important; color: #fff !important;}
.cyborg .dropdown-item {color: #fff !important;}
.cyborg .dropdown-item:hover {background-color: #2a9fd6 !important;}
.cyborg.footer{background-color: #060606 !important;}
.cyborg .footer-text {color: #fff !important;}
.cyborg .footer-text a { color: #fff !important;}
.cyborg .control-label {color: #888888 !important;}
.cyborg .nav-link { color: #fff !important; }
.cyborg .nav-tabs .nav-link.active { background-color: #2a9fd6 !important; border-color: #2a9fd6 !important;}
.cyborg .table>:not(caption)>*>* { color: #fff !important;}
.cyborg .btn.btn-default {background-color: #424242 !important; color: #fff !important; border-color: #424242 !important;}
.cyborg table {background-color: #181818 !important;}
.cyborg .panel-info {background-color: #9933cc !important; border-color: transparent !important;}
.cyborg .panel-info a {color: #fff !important;}
.cyborg .card {border-radius: 0 0 .25rem .25rem !important; border-color: #9933cc !important; background-color: #222222 !important; }
.cyborg p , .cyborg label {color: #888888 !important;}
.cyborg .ValueParagraph p {color: #ffffffc4 !important;}
.cyborg .DescriptionParagraph p {color: #ffffffc4 !important;}
.cyborg .ValueParagraph input {color: #ffffffc4 !important;}
.cyborg .ValueParagraph input {background: #212529;}
.cyborg .ValueParagraph .form-control:focus {background-color: #212529 !important;}

.cyborg .ValueParagraph .input-icons {
  color: black !important;  
}
// .cyborg .DescriptionParagraph p , .cyborg label {color: #fff !important;}

.cyborg .label-info {background-color: #9933cc !important;} 
.cyborg small {color: #888888;}
.cyborg .modal-header ,.cyborg .modal-body,.cyborg .modal-footer{background-color: #202020 !important; color: #fff !important; border: none !important;}
.cyborg .modal-header , .cyborg .modal-body{border-bottom: 1px solid #282828 !important;}
.cyborg .fa-times {color: #fff !important;}
.cyborg .closeicon {color: #000 !important;}
.cyborg .btn-primary{background-color: #2a9fd6 !important; border-color: #2a9fd6 !important;}
.cyborg h1 , .cyborg h2 , .cyborg h3, .cyborg h4, .cyborg h5, .cyborg h6 {color: #fff !important;}
.cyborg .page-item.active .page-link { color: #fff; background-color: #202020 !important; border-color: #202020 !important; }
.cyborg .openbtn { background-color: #202020; color: #fff; border:1px solid #44475a !important; box-shadow: 0 .5rem 1rem rgba(0,0,0,.50) !important; }
.cyborg .closeBtn{ background-color: #202020 !important;color: #fff; border:1px solid #44475a !important;}
.cyborg.sidebar {background-color: #202020 !important;}
.cyborg .menus a{background-color: #202020 !important; color: #aaaaaa;}
.cyborg .list-group-item:hover {cursor: pointer; background-color: #282828 !important; border-color: #282828 !important; color: #fff !important;}
.cyborg .list-group-item.active {cursor: pointer; background-color: #434343 !important; border-color: #434343 !important; color: #fff !important;}
.cyborg .resizable .resizers .resizer{ border: 3px solid #fff;}
.cyborg .resize-panels .resize-panel .re-panel{ border: 3px solid #fff !important; }
.cyborg .resizable {  background: #202020;}
.cyborg .resize-panels {background: #202020; }

.cyborg .tabs {  background: #202020;  }
.cyborg .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label { color: #fff !important;}
.cyborg .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label { color: #fff !important;}
.cyborg .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label { color: #fff !important;}
.cyborg .tabs .slider .indicator { background: #fff;}
.cyborg .label-info.info-badge{font-size: 15px !important;}

.cyborg .ValueParagraph .input-icons{
  background-color: #9933cc !important;
  padding: 5px;
  cursor: pointer;
  border-radius: 60%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #fff !important;
}
.cyborg .ValueParagraph .input-icons:hover{
  background-color: #000 !important;
  color: #fff !important;
}
.cyborg .wrapper .icon {
	background-color: #9933cc;
	color: #fff !important;
  }
  .cyborg .wrapper .facebook:hover,
  .cyborg .wrapper .facebook:hover .tooltip,
  .cyborg .wrapper .facebook:hover .tooltip::before {
  background-color: #000;
  color: #ffffff;
}

.cyborg.fa-cog
{
    color: #000 !important;
    background-color: #fff !important;
}
.cyborg.sidebar-setting {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #202020;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }

 .cyborg .nav-pills .nav-link.active, .cyborg .nav-pills .show>.nav-link {
    color: #000 !important;
    background-color: #fff;
}
.cyborg .border-primary {
  border-color: #fff!important;
}
.cyborg .button-switch .switch#switch-blue:checked:before {
  background: #fff !important;
}
.cyborg .button-switch .switch:after {
  background: #202020 !important;
}
.cyborg .editor-text {
  background-color: #000 !important; 
  color: #fff !important;
}
 .cyborg .nav-pills .nav-link.active, .cyborg .nav-pills .show>.nav-link {
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
}
.cyborg .nav-link {
  color: #fff !important;
}
.cyborg .nav.nav-pills.border-primary {
  border-color: #fff !important;
}
.cyborg .SidebarHeading {
  background: #000 !important;
}
.cyborg .nav-pills .nav-link {
  border-radius: 0 !important;
  border: 1px solid #fff !important;
}
// logo
.cyborg .saga-logo{
  background-image: url(../../assets/images/saga.png);
  display: block;
  width: auto;
  height: 40px;
  width: 80px;
  transition: .3s ease-in-out;
}
.cyborg .saga-logo:hover{
  background-image: url(../../assets/images/saga-hover.png);
  display: block;
  width: auto;
  height: 40px;
  width: 80px;
}

.cyborg .tree li {
 color: #fff !important;
}
.cyborg.cell {background-color: #000 !important; } 
.cyborg.cell { border: 0 !important; } 

.cyborg.cell.asidebar {background-color: #202020 !important; border-left: 2px solid #3d3a3a !important;} 
.cell.resizable {
  height: 100vh !important;
}