
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .cog-right {right: 420px;}
  .loading
  {
    -webkit-animation: rotation 2s infinite linear;
  }
  @-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
.setting-sidebar-width{width: 400px;}
@media (max-width:550px) {
    .setting-sidebar-width{width: 300px;}
  .cog-right {right: 320px;}    
}
@media (max-width:375px) {
    .setting-sidebar-width{width: 280px;}
    .cog-right {right: 300px;}    
}
.overlay-fade{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  opacity: 0;
}