@import url('https://fonts.cdnfonts.com/css/nasa');

.logo .name {
    font-family: 'Nasa', sans-serif;
    font-size: 32px;
    font-weight: 800;
}
.logo:hover {
color: #00defc;
}
.logo .subtitle {
    font-size: 13px;
}
.logo {
    line-height: 0.8;
    cursor: pointer;

}
.z-index-999{
    z-index: 999 !important;
    margin-right: 1.5rem !important;
}
.nav-link {
    padding: 5px 10px 5px 10px;
}
/*------------------------------------------------------------------ [Common Styles: See "Inputs - Switcher" for code below] */

/*------------------------------------------------------------------ [Inputs - Switcher] */
