
<div id="main" class="{{selectedTheme}}">
  <app-header></app-header>
  <button *ngIf="bDisplayToggleBtn" class="openbtn shadow border" (click)="openNav()"><span
      class="fa fa-angle-right font-800"></span> </button>
  <button *ngIf="!bDisplayToggleBtn" class="openbtn shadow border" (click)="closeNav()"><span
      class="fa fa-angle-left font-800"></span> </button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-3 px-4">
        <div class="tabs pt-2  {{selectedTheme}}">

          <input type="radio" id="tab1" name="tab-control" checked>
          <input type="radio" id="tab2" name="tab-control">
          <input type="radio" id="tab3" name="tab-control">

          <ul>
            <li title="Tree view"><label for="tab1" role="button"><i class="fa fa-sitemap font-500 mx-2"></i><br><span> View</span></label></li>
            <li title="Editor"><label for="tab2" role="button"><i class="fa fa-edit font-500 mx-2"></i><br><span>Edit</span></label></li>
            <li title="Compare"><label for="tab3" role="button"><i class="fa fa-balance-scale font-500 mx-2"></i><br><span>Compare</span></label></li>
          </ul>

          <div class="slider">
            <div class="indicator"></div>
          </div>
          <div class="content border-top">
            <section>
              <app-tree-view></app-tree-view>
            </section>
            <section>
              <app-editor></app-editor>
            </section>
            <section>
              <app-compare></app-compare>
            </section>

          </div>
        </div>

        <!-- <ngb-tabset #homepageTabs="ngbTabset" [destroyOnHide]="false">
          <ngb-tab id="tree-view" title="Tree View">
            <ng-template ngbTabContent>
              <app-tree-view></app-tree-view>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="editor" title="Editor">
            <ng-template ngbTabContent>
              <app-editor></app-editor>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="compare" title="Compare">
            <ng-template ngbTabContent>
              <app-compare (EditorTab)="homepageTabs.select('editor')"></app-compare>
            </ng-template>
          </ngb-tab>
        </ngb-tabset> -->
      </div>
    </div>
  </div>
</div>
<div id="sidebar" class="sidebar shadow {{selectedTheme}}">
  <app-sidebar></app-sidebar>
</div>
<div class="{{sAddOverlay}}" (click)=closeNav()></div>
<!-- <app-footer></app-footer> -->
<app-settings></app-settings>