<div class="segement-container">
  <div style="display: flex; flex-direction: row;">
    <div style="flex:1; text-align: center;">Header</div>
    <div style="flex:1; text-align: center;">Value</div>
    <div style="flex:1; text-align: center;">R</div>
    <div style="flex:1; text-align: center;">O</div>
    <div style="flex:1; text-align: center;">Len</div>
    <div style="flex:1; text-align: center;">Type</div>
    <div style="flex:1; text-align: center;">Description</div>
  </div>
  <app-tree [treeData]="data"></app-tree>
</div>