
<button class="btn btn-default mt-3 mb-3"  data-bs-toggle="modal" data-bs-target="#addDataType">Add Data Type...</button>
<table class="table table-striped py-2">
    <thead>
    <tr>
      <th scope="col">Data Type</th>
      <th scope="col">Index</th>
      <th scope="col">Index Data Type</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of lDataTypes; let i = index">
      <th scope="row">{{ data.dt.parent }}</th>
      <td>{{ data.dt.idx}}</td>
      <td>{{data.dt.datatype}}</td>
      <td *ngIf="oProfileNumber == '1'">{{ data.dt.parentName}}</td>
      <td *ngIf="oProfileNumber == '2'">{{ data.dt.desc}}</td>
      <td>
          <i class="fa fa-edit  pointer mx-2 font-20 font-700" data-bs-toggle="modal" data-bs-target="#EditDataType" (click)="DataTypesComponent_PatchSelectedRowValues(data)"></i>
          <i class="fa fa-trash text-danger font-20 " data-bs-toggle="modal" data-bs-target="#deletedatatype" (click)="DataTypesComponent_DeleteSelectedRow(data,i)"></i> 
      </td>
    </tr>
    </tbody>
  </table>
  
  <div class="d-md-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
    </ngb-pagination>
  
    <select class="custom-select form-control" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
      <option [ngValue]="25">25 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="75">75 items per page</option>
    </select>
  </div>


  <!-- add field modal -->
  
<div class="modal fade" id="addDataType" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add">Add Data Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Data Type</label>
          <div class="col-sm-9">
            <input type="text"  class="form-control" id="segment" >
          </div>
        </div>
        <div class="mb-3 row">
          <label for="number" class="col-sm-3 col-form-label">Index</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="seq">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="text" class="col-sm-3 col-form-label">Index Data Type</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="text" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name">
          </div>
        </div>
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

  <!-- edit Data Type modal -->
  
  <div class="modal fade" id="EditDataType" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form [formGroup]="fEditDataTypeForm">
        <div class="modal-header">
          <h5 class="modal-title" id="add">Edit Data Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Data Type</label>
            <div class="col-sm-9">
              <input type="text"  class="form-control" id="segment" formControlName="datatype">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="number" class="col-sm-3 col-form-label">Index</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="seq" formControlName="index">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="text" class="col-sm-3 col-form-label">Index Data Type</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" formControlName="indexDatatype">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="text" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" formControlName="name">
            </div>
          </div>
        </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!-- delete data type modal -->
<div class="modal fade" id="deletedatatype" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete Data Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="DataTypesComponent_DeleteRow()">Ok</button>
      </div>
    </div>
  </div>
</div>