<div class="table-responsive">

                <!-- <div class="tree well">
                    <ul>
                        <li>
                            <span class="bg-yellow"><i class="icon-folder-open"></i></span> MSH<em style="font-style: normal;"> (Message Header)</em> 
                            <ul>
                                <li>
                                    <span class="bg-green"><i class="icon-minus-sign"></i> </span> MSH<em style="font-style: normal;"></em>
                                </li>
                                <li>
                                    <span class="bg-yellow"><i class="icon-minus-sign"></i> </span> MSH. 1<em style="font-style: normal;"> (Field Separator)</em>
                                    <ul>
                                        <li>
                                            <span class="bg-green"><i class="icon-leaf"></i>  </span> |<em style="font-style: normal;"></em>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="bg-yellow"><i class="icon-minus-sign"></i> </span> MSH. 2<em style="font-style: normal;"> (Encoding Characters)</em>
                                    <ul>
                                        <li>
                                            <span class="bg-green"><i class="icon-leaf"></i>  </span> ^~\&<em style="font-style: normal;"></em>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="bg-yellow"><i class="icon-minus-sign"></i> </span> MSH. 3<em style="font-style: normal;"> (Sending Application)</em>
                                    <ul>
                                        <li>
                                            <span class="bg-green"><i class="icon-leaf"></i>  </span> MSH. 3<em style="font-style: normal;"></em>
                                        </li>
                                        <li>
                                            <span class="bg-yellow"><i class="icon-leaf"></i>  </span> MSH. 3.1<em style="font-style: normal;">(Namespace ID)</em>
                                            <ul>
                                                <li>
                                                    <span class="bg-green"><i class="icon-leaf"></i>  </span> [empty]<em style="font-style: normal;"></em>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="bg-green"><i class="icon-minus-sign"></i> </span> MSH<em style="font-style: normal;"></em>
                                </li>
                                <li>
                                <span class="bg-yellow"><i class="icon-minus-sign"></i> </span> MSH. 1<em style="font-style: normal;"> (Field Separator)</em>
                                <ul>
                                    <li>
                                        <span class="bg-green"><i class="icon-leaf"></i>  </span> |<em style="font-style: normal;"></em>
                                    </li>
                                </ul>
                                </li>
                                <li>
                                    <span class="bg-yellow"><i class="icon-minus-sign"></i> </span> MSH. 2<em style="font-style: normal;"> (Encoding Characters)</em>
                                    <ul>
                                        <li>
                                            <span class="bg-green"><i class="icon-leaf"></i>  </span> ^~\&<em style="font-style: normal;"></em>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="bg-yellow"><i class="icon-minus-sign"></i> </span> MSH. 3<em style="font-style: normal;"> (Sending Application)</em>
                                    <ul>
                                        <li>
                                            <span class="bg-green"><i class="icon-leaf"></i>  </span> MSH. 3<em style="font-style: normal;"></em>
                                        </li>
                                        <li>
                                            <span class="bg-yellow"><i class="icon-leaf"></i>  </span> MSH. 3.1<em style="font-style: normal;">(Namespace ID)</em>
                                            <ul>
                                                <li>
                                                    <span class="bg-green"><i class="icon-leaf"></i>  </span> [empty]<em style="font-style: normal;"></em>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div> -->
               
                <div class="tree well">
                    <ul>
                        <li *ngFor="let parent of lSecondLevelNesting; index as parentIndex" >
                            <span class="bg-yellow"  (click)="toggleDisplay('parent'+parentIndex)"><i class="icon-folder-open"></i></span>{{parent.parentNode}}
                            <ul class="d-none" [id]="'parent'+parentIndex">
                                <!-- <ng-container > -->
                                    <li *ngFor="let child of parent.childNodes; index as childIndex">
                                        <span class="bg-yellow" (click)="toggleDisplay('child'+childIndex)"><i class="icon-minus-sign"></i> </span> {{child.node}}
                                        <ul  class="d-none" [id]="'child'+childIndex">
                                            <li *ngFor="let grandChild of child.grandChildNodes; index as childIndex">
                                                <span class="bg-green"><i class="icon-leaf"></i></span> {{grandChild}}
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- <li *ngIf="child.grandChild">
                                        <span class="bg-yellow"><i class="icon-minus-sign"></i> </span> MSH. 1<em style="font-style: normal;"> (Field Separator)</em>
                                        <ul [id]="'child'+childIndex" class="d-none">
                                            <li>
                                                <span class="bg-green"><i class="icon-leaf"></i>  </span> |<em style="font-style: normal;"></em>
                                            </li>
                                        </ul>
                                    </li> -->
                                <!-- </ng-container> -->
                            </ul>
                        </li>
                    </ul>
                </div>        
        
    </div>