
 :host {
	 display: grid;
	 grid-template-columns: 1fr;
	 grid-template-rows: 1fr;
	 min-height: 75vh;
	 font-family: 'Varela Round', 'Helvetica', sans-serif;
	 color: #343e3d;
}
.cell{overflow: auto !important;}
.row.resizable {min-height: 100px;}
@media (max-width:825px) {
	.row.resizable{width: 100%;}
	.row.info-panels{width: 100%;}
}
@media (max-width:800px) {
	.row.info-panels{width: 97%;}
	.row.resizable{width: 97%;}
}
@media (max-width:785px) {
	.row.info-panels{width: 92%;}
	.row.resizable{width: 92%;}
}
@media (max-width:745px) {
	.row.info-panels{width: 87%;}
	.row.resizable{width: 87%;}
}
@media (max-width:715px) {
	.row.info-panels{width: 82%;}
	.row.resizable{width: 82%;}
}
@media (max-width:680px) {
	.row.info-panels{width: 77%;}
	.row.resizable{width: 77%;}
}
@media (max-width:645px) {
	.row.info-panels{width: 72%;}
	.row.resizable{width: 72%;}
}
@media (max-width:600px) {
	.row.info-panels{width: 67%;}
	.row.resizable{width: 67%;}
}
@media (max-width:570px) {
	.row.info-panels{width: 62%;}
	.row.resizable{width: 62%;}
}
@media (max-width:530px) {
	.row.info-panels{width: 57%;}
	.row.resizable{width: 57%;}
}
@media (max-width:520px) {
	.row.info-panels{width: 52%;}
	.row.resizable{width: 52%;}
}





// treee
ul {
margin-left: -13px;
margin-top: -5px;

}


.tree {
    min-height:20px;
    padding:19px;
	height: 80vh;
    margin-bottom:20px;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative;
	white-space: nowrap !important;
}
.tree li::before, .tree li::after {
    content:'';
    left:-15px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:-5px;
    width:1px
}
.tree li::after {
	border-top: 1px solid #999;
	height: 20px;
	top: 19px;
	width: 21px;
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:50%;
    display:inline-block;
    // padding:3px 8px;
	height: 10px;
	width: 10px;
	margin-bottom: 2px;
	// background-color: green;
    // text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:25px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.bg-green{
	background-color: green !important;
	margin-right: 5px !important;
}
.bg-yellow{
	background-color: yellow !important;
	margin-right: 5px !important;
}
