<router-outlet></router-outlet>
<footer class="fixed-bottom text-center text-white" style="background-color: #f1f1f1;">
  <!-- Copyright -->
  <div class="footer text-dark" >HL7 Inspector Neo <a
      href="https://bitbucket.org/crambow/hl7inspector-neo/wiki/Release%20Notes" target="_blank"><span
        data-i18n="app-version">1.2.1.168-Final</span></a> • <a
      href="https://bitbucket.org/crambow/hl7inspector-neo/issues?status=new&amp;status=open"
      data-i18n="report-a-bug">Report a bug</a> • <a href="impressum.html" target="_blank"
      data-i18n="imprint">Imprint</a></div>
  <!-- Copyright -->
</footer>