// * {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   text-decoration: none;
// }
.menus .item {
  border-top: 1px solid #f6f6f6;
}

.menus .item > a i {
  margin-right: 10px;
}

.menus .item:target > a:before {
  visibility: visible;
}
.menus .item:target .sub-menus {
  max-height: 10em;
}
.SidebarHeading {
  background: #d9edf7;
}
.trash-icon{padding: 10px;}

#sidebar{
    padding-top: 61px !important;
}
.preview-content{
  position: fixed;
  top: 50%;
  left: 50%;
 z-index: 100;
 transform: translate(-50%, -50%);
 border-radius: 8px;
 border: 2px solid #202020;
}
.preview-img{
  height: 80vh;
  /* width: 100%; */
  /* object-fit: cover; */
  padding: 20px;
}
.DescriptionParagraph {
  line-height: 2rem;
  line-break: anywhere;
}
.pdf-content{width: 60vw;}
.corrupt-image{
  width: 60vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0000;
}