<div class="middle {{selectedTheme}}">
    <div class="row">
        <div class="col-12 p-3">
            <div class="d-md-flex justify-content-between align-items-center SidebarHeading p-2">
                <div style="padding: 3px 0 5px 0" *ngIf="this.oSelectedSegment">
                    <h6 class="m-2">{{oSelectedSegment?.seg}} - {{oSelectedSegment?.name}}</h6>
                </div>
                <div style="padding: 3px 0 5px 0" *ngIf="!this.oSelectedSegment">
                    <h6 class="m-2">No segmant Selected</h6>
                </div>
            </div>
            <div class="DescriptionParagraph border p-2 mt-2">
                <p> {{oSelectedSegment?.desc}}</p>
                <p>Chapter: {{oSelectedSegment?.chap}}</p>
            </div>
            <div class="d-md-flex justify-content-between align-items-center SidebarHeading p-2 mt-5">
                <div style="padding: 3px 0 5px 0">
                    <h6 class="m-2">Value Presenter</h6>
                </div>
                <div class="wrapper">

                    <div class="icon facebook" (click)="ConvertIntoDateTime()">
                        <div class="tooltip">Formatted Date/Time</div>
                        <span><i class="fa fa-calendar"></i></span>
                    </div>

                    <div class="icon facebook" (click)="DisplaypdfFile()">
                        <div class="tooltip">Decoded Base64 PDF Document</div>
                        <span><i class="fa fa-file"></i></span>
                    </div>

                    <div class="icon facebook" (click)="DisplayPreviewModal()">
                        <div class="tooltip">Decoded Base64 Image</div>
                        <span><i class="fa fa-image"></i></span>
                    </div>

                    <div class="icon facebook" (click)="CopyToClipBoard()">
                        <div class="tooltip">Copy to clipboard</div>
                        <span><i class="fa fa-clipboard"></i></span>
                    </div>

                    <div class="icon facebook" (click)="DownloadFile()">
                        <div class="tooltip DownloadTooltip">Download</div>
                        <span><i class="fa fa-download"></i></span>
                    </div>


                </div>
            </div>
            <div class="DescriptionParagraph border p-2 mt-2">
                <p>{{sDisplayWord}}</p>
            </div>
        </div>
    </div>


    <div *ngIf="bDisplayPreviewPanel" class="preview-content bg-white shadow">
        <img *ngIf="!bDisplayImageError" src="data:image/png;base64,{{sSelectedWord}}" alt="" (error)="DisplayImageError()">
        <p *ngIf="bDisplayImageError">Corrupted Image file</p>
        <i class="fa fa-times" (click)="DismissPreviewPanel()"></i>

    </div>


    <div *ngIf="bDisplayPdfPanal" class="preview-content pdf-content bg-white shadow">
        <div>
            <!-- <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" style="height: 80vh"></pdf-viewer> -->
            <pdf-viewer *ngIf="!bDisplayPDFError" src="data:application/pdf;base64,{{sSelectedWord}}" [render-text]="true" [original-size]="false" style="height: 80vh" (error)="DisplayPDFError()"></pdf-viewer>
            <p *ngIf="bDisplayPDFError">Corrupted base64 file</p>

            <i class="fa fa-times" (click)="DismissPreviewPanel()"></i>
            <!-- <img *ngIf="selectedValue == 'base64-image'" src="data:image/png;base64,{{oOriginalValue}}" alt=""> -->
        </div>

    </div>
    <div class="{{sOverlay}}"></div>