* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.menus .item {
  border-top: 1px solid #f6f6f6;
}

.menus .item > a i {
  margin-right: 10px;
}

.menus .item:target > a:before {
  visibility: visible;
}
.menus .item:target .sub-menus {
  max-height: 10em;
}
.trash-icon{padding: 10px;}