<div class="middle {{selectedTheme}}">
    <div class="row">
        <div class="col-12 p-3">
            <div class="d-md-flex justify-content-between align-items-center SidebarHeading p-2">
                <div style="padding: 3px 0 5px 0" *ngIf="this.oSelectedSegment">
                    <h6 class="m-2">{{oSelectedSegment?.seg}} - {{oSelectedSegment?.name}}</h6>
                </div>
                <div style="padding: 3px 0 5px 0" *ngIf="!this.oSelectedSegment">
                    <h6 class="m-2">No Segment Selected</h6>
                </div>
            </div>
            <div class="DescriptionParagraph border p-2 mt-2">
                <p> {{oSelectedSegment?.desc}}</p>
                <p>Chapter: {{oSelectedSegment?.chap}}</p>
            </div>
            <div class="d-md-flex justify-content-between align-items-center SidebarHeading p-2 mt-5">
                <div style="padding: 3px 0 5px 0">
                    <h6 class="m-2">Value Presenter</h6>
                </div>
                <div class="wrapper">

                    <div class="icon facebook" (click)="SidebarComponent_ConvertIntoDateTime()">
                        <div class="tooltip">Formatted Date/Time</div>
                        <span><i class="fa fa-calendar"></i></span>
                    </div>

                    <div class="icon facebook" (click)="SidebarComponent_DisplaypdfFile()">
                        <div class="tooltip">Decoded Base64 PDF Document</div>
                        <span><i class="fa fa-file"></i></span>
                    </div>

                    <div class="icon facebook" (click)="SidebarComponent_DisplayPreviewModal()">
                        <div class="tooltip">Decoded Base64 Image</div>
                        <span><i class="fa fa-image"></i></span>
                    </div>

                    <div class="icon facebook" (click)="SidebarComponent_CopyToClipBoard()">
                        <div class="tooltip">Copy to clipboard</div>
                        <span><i class="fa fa-clipboard"></i></span>
                    </div>

                    <div class="icon facebook" (click)="SidebarComponent_DownloadFile()">
                        <div class="tooltip DownloadTooltip">Download</div>
                        <span><i class="fa fa-download"></i></span>
                    </div>


                </div>
            </div>
            <div class="DescriptionParagraph border p-2 mt-2">
                <p>{{sDisplayWord}}</p>
            </div>
        </div>
    </div>


    <div *ngIf="bDisplayPreviewPanel" class="preview-content bg-white shadow">
        <img *ngIf="!bDisplayImageError" src="data:image/png;base64,{{sSelectedWord}}" alt="" (error)="SidebarComponent_DisplayImageError()">
        <p class="corrupt-image font-24"  *ngIf="bDisplayImageError"> <i class="fa fa-image  mr-2"></i>Corrupted Base64 Image File</p>
        <i class="fa fa-times" (click)="SidebarComponent_DismissPreviewPanel()"></i>
    </div>
    
    <div *ngIf="bDisplayPdfPanal" class="preview-content pdf-content bg-white shadow">
        <div>
            <pdf-viewer *ngIf="!bDisplayPDFError" src="data:application/pdf;base64,{{sSelectedWord}}" [render-text]="true" [original-size]="false" style="height: 80vh" (error)="SidebarComponent_DisplayPDFError()"></pdf-viewer>
            <p *ngIf="bDisplayPDFError" class="corrupt-image font-24"><i class="fa fa-file  mr-2"></i> Corrupted Base64 PDF File</p>
            <i class="fa fa-times" (click)="SidebarComponent_DismissPreviewPanel()"></i>
        </div>

    </div>
    <div class="{{sOverlay}}"></div>