<div class="content">
    <rsz-layout class="row" [directions]="['bottom']" [rFlex]="true">
      <rsz-layout class="cell one" [directions]="['bottom']" [rFlex]="false">
        <textarea class="hl7texteditor" rows="20" wrap="off" spellcheck="true" autocomplete="off" autocorrect="off"
        autocapitalize="off" #alpha (click)="alphafunction(alpha)" (keyup)="alphafunction(alpha)">
        MSH|^~\&|ADT-HIS||HL7INSPECTOR||20060101100000||ADT^A01|1|P|2.5.1
        EVN|A01|20060101||
        PID||||4711|Doe^John||19701024|M|||Sesamstreet 11^76137^Karlsruhe^D|||||GS|EV||||
        PV1||I|S2^13^3^CHI^^21||||||||||||||||1234|||||||||||||||||||||||||200601010930||||||||
        OBX|1|ED|EGK_DATA52^eGK-Daten^HL7-DEU||^AP^application/xml^Base64^
        OBX|2|ED|DOC^Document^L||^application^pdf^Base64^
        OBX|3|ED|502^CHEST XRAY^L||Word^TEXT^^Base64^SnVzdCBhIHNpbXBsZSB0ZXh0
    </textarea>
      </rsz-layout>
     
    </rsz-layout>
    <rsz-layout class="row" [directions]="['none']" [rFlex]="false">
      <rsz-layout class="cell three" [directions]="['none']" [rFlex]="false">
        <div class="p-3">
            <div class="row">
              
                <div class="col-md-12">
                    <div class="panel mb-2">
                        <div class="panel-info border p-2 border-bottom-0">
                            <a *ngIf="oSelectedSegment" class="" data-bs-toggle="collapse" href="#messageHeader" role="button" aria-expanded="false"
                                aria-controls="collapseExample">
                                {{oSelectedSegment?.seg}} - {{oSelectedSegment?.name}}
                            </a>
                            <a *ngIf="!oSelectedSegment" class="" data-bs-toggle="collapse" href="#messageHeader" role="button" aria-expanded="false"
                                aria-controls="collapseExample">
                                No segment selected
                            </a>
                        </div>
                        <div class="collapse show" id="messageHeader">
                            <div class="card card-body p-2 border-top-0">
                                <p>
                                    {{oSelectedSegment?.desc}}
                                    <!-- The MSH segment defines the intent, source, destination, and some specifics of the syntax of
                                    a message. -->
                                </p>
                                <p *ngIf="oSelectedSegment">
                                    Chapter: {{oSelectedSegment?.chap}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel mb-2">
                <div class="panel-info border p-2 border-bottom-0">
                    <a class="" data-bs-toggle="collapse" href="#valuePresenter" role="button" aria-expanded="false"
                        aria-controls="collapseExample">
                        Value Presenter
                    </a>
                </div>
                <div class="collapse show" id="valuePresenter">
                    <div class="card card-body p-2 border-top-0">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="displayAs" class="" data-i18n="display-as">Display As &nbsp;</label>
                                <select class="form-control mb-2" id="displayAs">
                                    <option value="original">Original Value</option>
                                    <option value="formatted">Formatted Value</option>
                                    <option value="datetime">Formatted Date / Time</option>
                                    <option value="base64">Decoded Base64 String</option>
                                    <option value="base64-pdf">Decoded Base64 PDF Document</option>
                                    <option value="base64-image">Decoded Base64 Image</option>
                                    <option value="base64-xml">Decoded Base64 XML Document</option>
                                    <option value="base64-cda">Decoded Base64 CDA Document (Experimental)</option>
                                </select>
                                <button type="button" class="btn btn-default mb-2 mr-2">Copy To Clipboard</button>
                                <a type="button" class="btn btn-default mb-2" [href]="fileUrl"
                                    download="file.txt">Download</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </rsz-layout>
      
    </rsz-layout>
  </div>