
 :host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 75vh;
    font-family: 'Varela Round', 'Helvetica', sans-serif;
    color: #343e3d;
}
.cell{overflow: auto !important;}
.row.resizable {min-height: 100px;}
textarea {border: none; outline: none; resize: none;}