<app-header></app-header>
<div class="container-fluid {{selectedTheme}}">
    <div class="row">
        <div class="col-12 mt-3 px-4">
          <ngb-tabset>
            <ngb-tab title="Common">
              <ng-template ngbTabContent>
                <app-common></app-common>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Segments">
              <ng-template ngbTabContent>
                <app-segments></app-segments>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Fields">
              <ng-template ngbTabContent>
                <app-fields></app-fields>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Data Types">
              <ng-template ngbTabContent>
                <app-data-types></app-data-types>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
    </div>
</div> 
<app-footer></app-footer>