/* You can add global styles to this file, and also import other style files */
// dropdown
.help.dropdown-menu { right: 0 !important; left: -175px !important; }
.fileinput-button input {
    position: absolute;
    top: 0; 
    right: 0; 
    margin: 0; 
    opacity: 0; 
    font-size: 200px; 
    direction: ltr;
    cursor: pointer;
    height: 100px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc !important;
}
.alert-success{
    position: fixed;
    top: 4%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.label-info {
    background-color: #5bc0de;
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}