@import 'src/assets/scss/_theme-cosmo.scss';
@import 'src/assets/scss/_theme-cerulean.scss';
@import 'src/assets/scss/_theme-yeti.scss';
@import 'src/assets/scss/_theme-cyborg.scss';
@import 'src/assets/scss/_theme-slate.scss';

/* You can add global styles to this file, and also import other style files */
// fonts size
.font-14 {font-size: 14px;}.font-16 {font-size: 16px;}.font-18 {font-size: 18px;}.font-20 {font-size: 20px;}.font-22 {font-size: 22px;}
.font-24 {font-size: 24px;}.font-26 {font-size: 26px;}.font-28 {font-size: 28px;}.font-30 {font-size: 30px;}
// font weight
.font-100 {font-weight: 100 !important;}.font-200 {font-weight: 200 !important;}.font-300 {font-weight: 300 !important;}
.font-400 {font-weight: 400 !important;}.font-500 {font-weight: 500 !important;}.font-600 {font-weight: 600 !important;}
.font-700 {font-weight: 700 !important;}.font-800 {font-weight: 800 !important;}
// spacing 
.ml-1 {margin-left: .25rem !important;}.ml-2 {margin-left: .5rem !important;}.ml-3 {margin-left: 1rem !important;}
.ml-4 {margin-left: 1.5rem !important;}.ml-5 {margin-left: 2rem !important;}.mr-1 {margin-right: .25rem !important;}
.mr-2 {margin-right: .5rem !important;}.mr-3 {margin-right: 1rem !important;}.mr-4 {margin-right: 1.5rem !important;}
.mr-5 {margin-right: 2rem !important;}
// dropdown
.help.dropdown-menu { right: 0 !important; left: -175px !important; }
.fileinput-button input {
    position: absolute;
    top: 0; 
    right: 0; 
    margin: 0; 
    opacity: 0; 
    font-size: 200px; 
    direction: ltr;
    cursor: pointer;
    height: 100px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc !important;
}
.alert-success{
    position: fixed;
    top: 4%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.label-info {
    background-color: #5bc0de;
}
.label {
    display: inline-block;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.list-group-item.active {
    z-index: 2;
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
.list-group-item:hover {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
 .list-group-item{border-bottom: 1px solid rgba(0,0,0,.125) !important}

//  homepage
@media (min-width: 768px){
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
}
.hl7texteditor {
    font-family: monospace;
    width: 100%;
    // height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.panel-info{ background-color: #d9edf7; border-radius: 0.25rem 0.25rem 0 0;}
.card-body{    border-radius: 0 0 .25rem .25rem;}
.panel .panel-info a {text-decoration: none;}
.panel .panel-info a:hover{text-decoration: underline;}

// buttons css
.btn-check:focus+.btn, .btn:focus { box-shadow: none !important; }
// footer
.footer{background-color: #f1f1f1;}
// side panel css
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover { color: #f1f1f1; }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: none;
    position: fixed;
    top: 50%;
    right: 0;
    z-index:0;
  }
  .rightbtn {
    right: 410px !important;

  }
  .menus a {
    display: block;
    padding: 16px 20px;
    position: relative;
    color: #000;
  }
  #main { transition: margin-left .5s;}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .overlay
  {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      opacity: 0;
  }

//  side panel css end
// resizing panels css
.resizable {
  background: white;
  height: 30vh;
  position: relative;
  top: 0;
  left: 0;
}
.resize-panels {
    background: white;
    height: 30vh;
    position: relative;
    top: 0;
    left: 0;
  }

.resizable .resizers{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
.resize-panels .resize-panel{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.resizable .resizers .resizer{
  width: 100%;
  height: 10px;
  // border-radius: 50%; /*magic to turn square into circle*/
  // background: white;
  // border: 3px solid #000;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.resize-panels .resize-panel .re-panel{
    width: 100%;
    height: 10px;
    border-radius: 50%; /*magic to turn square into circle*/
    // background: white;
    // border: 3px solid #000;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }


.resizable .resizers .resizer.bottom-right {
  right: 0;
  bottom: 0;
  cursor: s-resize;
}
.resize-panels .resize-panel .re-panel.bottom-right {
    right: 0;
    bottom: 0;
    cursor: s-resize;
  }

  // action buttons
.wrapper {
  // display: inline-flex;
}

.wrapper .icon {
  position: relative;
  display: inline-flex !important;
  background-color: #e5e8e8;
  border-radius: 50%;
  padding: 15px;
  margin: 6px;
  width: 33px;
  height: 33px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  text-align: center;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  width: 160px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .DownloadTooltip{
  right: 15px !important
}

.wrapper .DownloadTooltip::before {
  left: 92% !important
}


.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -55px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
  text-align: center;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

// tabs

.tabs {
  // left: 50%;
  // transform: translateX(-50%);
  // position: relative;
  background: white;
  padding: 10px;
  padding-bottom: 80px;
  // width: 70%;
  // height: 85vh;
  overflow: auto;
  // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  // min-width: 240px;
  overflow-x: hidden;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2, .tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #428bff;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 33%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 40%;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #428bff;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 17px;
}
.tabs .content section {
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #428bff;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428bff;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #428bff;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #428bff;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
      background: rgba(0, 0, 0, 0.08);
 }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #428bff;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #428bff;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
      background: rgba(0, 0, 0, 0.08);
 }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #428bff;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #428bff;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
      background: rgba(0, 0, 0, 0.08);
 }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #428bff;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #428bff;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
      background: rgba(0, 0, 0, 0.08);
 }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
@keyframes content {
  from {
      opacity: 0;
      transform: translateY(5%);
 }
  to {
      opacity: 1;
      transform: translateY(0%);
 }
}
@media (max-width: 1000px) {
  .tabs ul li label {
      white-space: initial;
 }
  .tabs ul li label br {
      display: initial;
 }
  .tabs ul li label svg {
      height: 1.5em;
 }
}
@media (max-width: 600px) {
  .tabs ul li label {
      padding: 5px;
      border-radius: 5px;
 }
  .tabs ul li label span {
      display: none;
 }
  .tabs .slider {
      display: none;
 }
  .tabs .content {
      margin-top: 20px;
 }
  .tabs .content section h2 {
      display: block;
 }
}
.label-info .info-badge{font-size: 15 !important;}
.cell {background-color: transparent !important;}

// settings
.fa-cog
{
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 30px !important;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.sidebar-setting {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.modal-backdrop{
  width: 0px !important;
}
.fa-times {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
}