// .sub-table td:first-child {
//   padding-left: 50px;
// }



// .segement-container table thead {
//   position: sticky;
//   top: 0;
//   background: aliceblue;
// }

// .segement-container table tr td:first {
//   min-width: "150px";
// }

// .segement-container table thead tr th {
//   font-weight: 500;
// }

// .segement-container table tbody {
//   border-top: unset;
// }

// table tbody td {
//   font-size: 15px;
// }

// td input {
//   border: unset;
//   border-radius: 5px;
// }

// .segement-container table tbody tr {
//   &:hover {
//     cursor: pointer;
//     background-color: #bddfff;
//     color: black;

//     .sub-input {
//       background-color: #bddfff;
//       color: black;
//     }
//   }
// }

// .segement-container table 

// .segement-container table .sub-selected {
//   background-color: #168af9;
//   color: white;





.collapsed {
  transform: rotate(-90deg);
}

.more-icon {
  border-radius: 16px;
  fill: #1f1f1f;
  height: 20px;
  padding: 3px;
  width: 20px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 99, 155, 0.08);
  }
}

.sub-input {
  border: unset;
  height: 100%;
  width: 100%;
  border-radius: 0 !important;
  background-color: transparent;
  padding: 0.5rem;
}

// .sub-input:focus {
//   color: black !important;
// }

.nested-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

// .selected {
//   background-color: #168af9 !important;
//   color: white;

// }