<ng-container *ngFor="let item of treeData; let i = index">

    <div [attr.data-index]="item.depth.join(',')"
        [className]="isSelected(item.depth)?'selected nested-row':'nested-row'" [ngStyle]="{
         'background-color': isEven(item.depth)?'rgba(0, 99, 155, 0.08)':'unset'
     }" (click)="selectRow(item.depth)">
        <div style="flex:2;padding: 2px;" (click)="toggleRow($event,i)" class="d-flex align-items-center">
            <div [ngStyle]="{'margin-left': (item.depth.length - 1) * 20 + 'px', 'width': '20px'}">
                <span *ngIf="item?.children?.length > 0">
                    <span *ngIf="expandedRows.has(i)">
                        <svg class="more-icon" role="presentation" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 96 960 960">
                            <path d="M480 696 280 497h400L480 696Z"></path>
                        </svg>
                    </span>
                    <span *ngIf="!expandedRows.has(i)">
                        <svg class="more-icon collapsed" role="presentation" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 96 960 960">
                            <path d="M480 696 280 497h400L480 696Z"></path>
                        </svg>
                    </span>
                </span>
            </div>
            {{ item.header + '-' + (i + 1) }}
        </div>
        <div style="flex:3" class="p-0">
            <input class="sub-input" [value]="item.value" (change)="onItemChange(item.depth, $event)" />
        </div>
        <div style="flex:1;text-align: center;">{{ item.r }}</div>
        <div style="flex:1;text-align: center;">{{ item.o }}</div>
        <div style="flex:1;text-align: center;">{{ item.len }}</div>
        <div style="flex:1;text-align: center;">{{ item.type }}</div>
        <div style="flex:3;text-align: center;">{{ item.description }}</div>
    </div>

    <app-tree [onItemChange]="onItemChange" *ngIf="expandedRows.has(i)" [treeData]="item.children"></app-tree>


</ng-container>