<footer class="{{selectedTheme}} footer fixed-bottom text-center text-white p-1" >
    <!-- Copyright -->
    <div class="text-dark footer-text" >HL7 Parser Online<a
        href="https://bitbucket.org/crambow/hl7inspector-neo/wiki/Release%20Notes" target="_blank"><span
          data-i18n="app-version">1.2.1.168-Final</span></a> • <a
        href="https://bitbucket.org/crambow/hl7inspector-neo/issues?status=new&amp;status=open"
        data-i18n="report-a-bug">Report a bug</a> • <a routerLink="/imprint" target="_blank"
        >Imprint</a></div>
    <!-- Copyright -->
  </footer>