
.toggle-icon{cursor: pointer;font-weight: bold;}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #F0F0F0;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

// treee
ul {
    margin-left: -13px;
    margin-top: -5px;
    
    }
    .tree {
        min-height:20px;
        padding:19px;
        height: calc(100vh - 180px);
        margin-bottom:20px;
        overflow: auto;
        border:1px solid #999;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
    }
    .tree li {
        list-style-type:none;
        margin:0;
        padding:10px 5px 0 5px;
        position:relative;
        white-space: nowrap !important;
    }
    .tree li::before, .tree li::after {
        content:'';
        left:-15px;
        position:absolute;
        right:auto
    }
    .tree li::before {
        border-left:1px solid #999;
        bottom:50px;
        height:100%;
        top:-5px;
        width:1px
    }
    .tree li::after {
        border-top: 1px solid #999;
        height: 20px;
        top: 19px;
        width: 21px;
    }
    .tree li span {
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border:1px solid #999;
        border-radius:50%;
        display:inline-block;
        // padding:3px 8px;
        height: 10px;
        width: 10px;
        margin-bottom: 2px;
        // background-color: green;
        // text-decoration:none
    }
    .tree li.parent_li>span {
        cursor:pointer
    }
    .tree>ul>li::before, .tree>ul>li::after {
        border:0
    }
    .tree li:last-child::before {
        height:25px
    }
    .tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
        background:#eee;
        border:1px solid #94a0b4;
        color:#000
    }
    .bg-green{
        background-color: green !important;
        margin-right: 5px !important;
    }
    .bg-yellow{
        background-color: yellow !important;
        margin-right: 5px !important;
    }
    .highlight{background-color: yellow !important; color: red;}
    em {font-style: normal !important;};