
.toggle-icon{cursor: pointer;font-weight: bold;}
.panel-info
{
    background-color: #d9edf7;
    border-radius: 0.25rem 0.25rem 0 0;
}
.panel .panel-info a {text-decoration: none;}
.panel .panel-info a:hover{text-decoration: underline;}